<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>WebStudy01</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param>
   <param-name>contextParam1</param-name>
   <param-value>컨텍스트 파라미터의 값</param-value>
  </context-param>
  <context-param>
  	 <param-name>folderQN</param-name>
  	 <param-value>/kr/or/ddit/images</param-value>  	 
  </context-param>
  
  <servlet>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.DescriptionServlet</servlet-class>
  	
  	
  </servlet>
  <servlet-mapping>
  	<servlet-name>DescriptionServlet</servlet-name>
  	<url-pattern>/desc</url-pattern>
  	<url-pattern>/DESC</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.ImageFormServlet</servlet-class>
	<init-param>
		<param-name>folderQN</param-name>
		<param-value>/kr/or/ddit/images</param-value>
	</init-param> 
  	<load-on-startup>1</load-on-startup>
 
  </servlet>
  
  <servlet>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<servlet-class>kr.or.ddit.servlet03.ImageStreamingServlet</servlet-class>
  	<load-on-startup>2</load-on-startup>
  </servlet>
  
  
  <servlet-mapping>
  	<servlet-name>ImageFormServlet</servlet-name>
  	<url-pattern>/image/formUI.hw</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
  	<servlet-name>ImageStreamingServlet</servlet-name>
  	<url-pattern>/image/streaming.hw</url-pattern>
  </servlet-mapping>
  
  
  
 
  
  
  
  
  
</web-app>