<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ddit.yguniv.professor.dao.professorMapper">

<select id="selectProfessorList" resultType="ProfessorVO">

SELECT
    PROFE_ID
    ,DEPT_NO
    ,PROFE_TYPE
FROM
    PROFESSOR
</select>

</mapper>